/.vscode
/abc.cpp
/abc.exe
/animation.css
/animation.html
/day4wisflux.html
/devideanddivision.html
/generator.html
/index.html
/index.js
/iterator.html
/j1.html
/loalo.html
/myassignment.html
/mycss.css
/project4.html
/random.md
/style.css
/tempCodeRunnerFile.cpp